// COLORS
$color-primary: #4d5f59;
$color-secondary: #9cb7ae;
$color-tertiary: #ff704d;

$color-white: #fff;
$color-black: #000;

//FONT FAMILY
$font-family-1: Futura;

// FONT SIZE
$default-font-size: 1.6rem;
