/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

  /* Modal Content/Box */
  &__content {
    background-color: #fefefe;
    margin: 10% auto; /* 10% from the top and centered */
    padding: 20px;
    border: 0.1px solid #888;
    border-radius: 5px;
    width: 50rem;
  }

  &__close {
    cursor: pointer;
  }
  &__header {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid $color-secondary;
  }
  &__body {
    margin: 1rem;
  }
  &__footer {
    display: flex;
    justify-content: flex-end;

    border-top: 1px solid $color-secondary;
  }
}
