.header {
  color: $color-primary;

  &__title {
    font-family: $font-family-1;
    font-size: 4.3rem;
    font-weight: 200;
  }
  &__desc {
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 1px;
  }
}
